.nav {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.nav__back {
  width: 32px;
  height: 48px;
  flex-shrink: 0;
  margin-right: 20px;
}
.nav__back img,
.nav__back svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav-content__logo {
  width: 91.5px;
  height: 20.33px;
}
.nav-content__logo img,
.nav-content__logo svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav-content__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.25px;
  text-align: left;
  margin: 2px 0 0;
}

.line-separator {
  display: flex;
  align-items: center;
  gap: 4px;
}
.line-separator__item {
  width: 33.3333%;
  height: 4px;
  border-radius: 6px;
  background-color: #EAECF0;
}
.line-separator__item.active {
  background-color: #16A34A;
}

.clinic-selection {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  margin: 20px auto 0;
  color: #15803D;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 32px 0 24px 0;
}

.clinic-card__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}
.clinic-card__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding: 5px;
}
.clinic-card__img img,
.clinic-card__img svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.clinic-card__img-text {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  background: linear-gradient(90deg, #1A8943 0%, #4BEC87 100%);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 6px 10px 6px 10px;
  border-radius: 32px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: left;
  color: #fff;
}
.clinic-card__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #101828;
  margin-top: 32px;
  margin-bottom: 10px;
}
.clinic-card__reviews {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #101828;
}
.clinic-card__reviews-item {
  position: relative;
  display: flex;
  align-items: center;
}
.clinic-card__reviews-item:not(:first-child) {
  padding-left: 8px;
  margin-left: 8px;
}
.clinic-card__reviews-item:not(:first-child)::after {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #98A2B3;
}
.clinic-card__reviews-stars-icon {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
.clinic-card__reviews-stars-icon img,
.clinic-card__reviews-stars-icon svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.clinic-card__geo {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #101828;
  margin-top: 28px;
  margin-bottom: 10px;
}
.clinic-card__geo a {
  color: #101828;
  text-decoration: none;
}
.clinic-card__geo-item {
  display: flex;
  align-items: start;
}
.clinic-card__geo-item:not(:last-child) {
  margin-bottom: 8px;
}
.clinic-card__geo-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.clinic-card__geo-icon img,
.clinic-card__geo-icon svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.doctor-card__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #344054;
}
.doctor-card__author {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.doctor-card__author-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  position: relative;
}
.doctor-card__author-img img,
.doctor-card__author-img svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.doctor-card__author-img-decor {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.doctor-card__author-img-decor img,
.doctor-card__author-img-decor svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.doctor-card__author-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #171717;
}
.doctor-card__benefits {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #101828;
  margin-top: 14px;
  margin-bottom: 14px;
}
.doctor-card__benefits-item {
  display: flex;
  align-items: start;
}
.doctor-card__benefits-item:not(:last-child) {
  margin-bottom: 8px;
}
.doctor-card__benefits-item--active {
  color: #1D4ED8;
}
.doctor-card__benefits-item span {
  position: relative;
  display: inline-block;
}
.doctor-card__benefits-item span:not(:first-child) {
  padding-left: 8px;
  margin-left: 8px;
}
.doctor-card__benefits-item span:not(:first-child)::after {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #98A2B3;
}
.doctor-card__benefits-icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  flex-shrink: 0;
}
.doctor-card__benefits-icon img,
.doctor-card__benefits-icon svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.select-options__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #101828;
  margin-bottom: 16px;
}
.select-options__text {
  display: flex;
  padding: 12px 16px 12px 12px;
  border-radius: 8px;
  background-color: #F0FDF4;
}
.select-options__text-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.select-options__text-icon img,
.select-options__text-icon svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.select-options__text-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #14532D;
}
.select-options__variant {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.select-options__variant .custom-radio {
  display: inline-block;
  margin-right: 20px;
}
.select-options__variant .custom-radio:not(:last-child) {
  margin-bottom: 16px;
}
.select-options__variant .custom-radio input[type=radio] {
  display: none;
}
.select-options__variant .custom-radio label {
  cursor: pointer;
  border: 1px solid #D0D5DD;
  padding: 16px;
  border-radius: 8px;
  display: block;
  text-align: center;
  width: 100%;
}
.select-options__variant .custom-radio label:hover {
  background-color: #f0f0f0;
}
.select-options__variant .custom-radio input[type=radio]:checked + label .custom-radio__check-icon {
  display: block;
}
.select-options__variant .custom-radio__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #101828;
  margin-right: 8px;
}
.select-options__variant .custom-radio__check {
  width: 24px;
  height: 24px;
  border: 1px solid #98A2B3;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.select-options__variant .custom-radio__check-icon {
  display: none;
}
.select-options__variant .custom-radio__check-icon img,
.select-options__variant .custom-radio__check-icon svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.select-options__variant .custom-radio__top {
  display: flex;
  justify-content: space-between;
}
.select-options__variant .custom-radio__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
.select-options__variant .custom-radio__bottom-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #101828;
}
.select-options__variant .custom-radio__bottom-price--old {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  margin-right: 1px;
  text-decoration: line-through;
}
.select-options__variant .custom-radio__bottom-price--new {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #D92D20;
}
.select-options__variant .custom-radio__bottom-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #344054;
  text-decoration: none;
}

.payment-method__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #344054;
  margin-bottom: 16px;
}
.payment-method__text {
  display: flex;
  padding: 12px 16px 12px 12px;
  border-radius: 8px;
  background-color: #EFF6FF;
}
.payment-method__text-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  flex-shrink: 0;
}
.payment-method__text-icon img,
.payment-method__text-icon svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.payment-method__text-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #1D4ED8;
}

.ratings-reviews__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #344054;
  margin-bottom: 16px;
}
.ratings-reviews__reviews {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #101828;
  margin-bottom: 24px;
}
.ratings-reviews__reviews-item {
  position: relative;
  display: flex;
  align-items: center;
}
.ratings-reviews__reviews-item:not(:first-child) {
  padding-left: 8px;
  margin-left: 8px;
}
.ratings-reviews__reviews-item:not(:first-child)::after {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #98A2B3;
}
.ratings-reviews__reviews-stars-icon {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}
.ratings-reviews__reviews-stars-icon img,
.ratings-reviews__reviews-stars-icon svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.ratings-reviews__slide {
  padding: 20px 0;
  margin-top: 24px;
}
.ratings-reviews__slide-person {
  display: flex;
  gap: 12px;
  align-items: center;
}
.ratings-reviews__slide-person-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.ratings-reviews__slide-person-avatar img,
.ratings-reviews__slide-person-avatar svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.ratings-reviews__slide-person-name {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #101828;
  margin-bottom: 4px;
}
.ratings-reviews__slide-person-country {
  display: flex;
  align-items: center;
}
.ratings-reviews__slide-person-country-icon {
  width: 16px;
  height: 12px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ratings-reviews__slide-person-country-icon img,
.ratings-reviews__slide-person-country-icon svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.ratings-reviews__slide-person-country-name {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #475467;
}
.ratings-reviews__slide-stars {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
.ratings-reviews__slide-stars-verified {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #B54708;
  margin-left: 8px;
  margin-right: 4px;
}
.ratings-reviews__slide-stars-verified-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ratings-reviews__slide-date {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #475467;
  margin-top: 8px;
  margin-bottom: 4px;
}
.ratings-reviews__slide-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-bottom: 16px;
  color: #101828;
}
.ratings-reviews__slide-img {
  width: calc(100% + 16px);
  height: 80px;
  margin: 16px -16px 16px 0;
}
.ratings-reviews__slide-img img,
.ratings-reviews__slide-img svg {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.ratings-reviews__slide-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #475467;
}
.ratings-reviews__slide-text span,
.ratings-reviews__slide-text a {
  color: #15803D;
  text-decoration: underline;
}

.price-section__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: #344054;
  margin-bottom: 16px;
}
.price-section__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #344054;
  margin-bottom: 16px;
}
.price-section__text-currency {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #101828;
  margin-right: 16px;
}
.price-section__btns {
  display: flex;
  align-items: center;
  gap: 8px;
}
.price-section__btn {
  padding: 12px 10px 12px 10px;
  border-radius: 8px;
  border: 1px solid #15803D;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #15803D;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.0509803922);
  text-decoration: none;
  width: 50%;
  transition-duration: 200ms;
}
.price-section__btn:hover {
  opacity: 0.8;
}
.price-section__btn--green {
  color: #fff;
  background-color: #15803D;
}

.swiper .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #D4D4D4;
}
.swiper .swiper-pagination .swiper-pagination-bullet:last-child {
  width: 4px;
  height: 4px;
}
.swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #15803D;
}

/*# sourceMappingURL=styles.css.map */
